# Python-Data-Mining [3주차] 
## 3장. 시각화

### 1. 데이터 시각화 
> 데이터 시각화

In [13]:
# 패키지 설치 
import os
import calendar
import numpy as np
import pandas as pd

In [11]:
%pip install networkx

Requirement already satisfied: networkx in /Users/shimyuna/opt/anaconda3/lib/python3.9/site-packages (3.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
Amtrak_df= pd.read_csv('/Users/shimyuna/Desktop/✳︎/Python-Data-Mining/데이터마이닝 수업 정리/Amtrak.csv')
print(Amtrak_df.columns) # Amtrak_df의 컬럼을 보여줘 
Amtrak_df.head(10)  #위 10개까지만 보여줘

Index(['Month', 'Ridership'], dtype='object')

        Month  Ridership
0  01/01/1991   1708.917
1  01/02/1991   1620.586
2  01/03/1991   1972.715
3  01/04/1991   1811.665
4  01/05/1991   1974.964
5  01/06/1991   1862.356
6  01/07/1991   1939.860
7  01/08/1991   2013.264
8  01/09/1991   1595.657
9  01/10/1991   1724.924